{
  "extends": ["airbnb"],
  "env": {
    "node": true,
  },
  "rules": {
    "id-length": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "react/prop-types": 0,
    "space-before-function-paren": 0,
  }
}
